<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SeleniumWithJava Suite">
    <listeners>
        <!-- Correct listener class name: package 'test', class 'RetryListener' -->
        <listener class-name="test.RetryListener"/>
    </listeners>

    <test name="Regression">
        <classes>
            <class name="test.LoginTests"/>
        </classes>
    </test>
</suite>
